<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Nous te souhaitons la bienvenue, chère grenouille de bénitier ! </h1>
    <a href="/gossips/new/">Créer un nouveau Gossip</a>

    <h2>Les potins disponibles</h2>
    <% gossips.each_with_index do |gossip, i| %>
  <p>
    <%= gossip.author %><br/>
    <%= gossip.content %><br/>
    <a href="/gossips/<%= i %>" >Voir le potin</a>
  </p>
  <% end %>

  </body>
</html>
