<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Nous te souhaitons la bienvenue, chère grenouille de bénitier ! </h1>
    <p>Pour le moment il n'y a encore aucun potin à te raconter</p>
    <a href="/gossips/new/">Créer un nouveau Gossip</a>

    <% gossips.each do |gossip| %>
  <p>
    <%= gossip.author %><br/>
    <%= gossip.content %>
  </p>
<% end %>

  </body>
</html>
